<h1>Add Message</h1>
<form action="/new" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" palceholder="Your Name">
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <textarea name="message" class="form-control"id="message" rows="3"></textarea>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>

  